<div class="w-full">

  <div class="flex justify-between items-center">
  <% if params[:filter] == "my_stories" %>
    <h1 class="font-bold text-4xl text-amber-900">My Stories</h1>
  <% elsif params[:filter] == "bookmarked"%>
    <h1 class="font-bold text-4xl text-amber-900">Bookmarked Stories</h1>
  <% else %>
    <h1 class="font-bold text-4xl text-amber-900">Stories</h1>
  <% end %>
    <% if user_signed_in? %>
    <%= link_to 'New story', new_story_path, class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-800 text-white block font-medium" %>
    <% end %>
  </div>
  <% if params[:filter] == 'my_stories' || params[:filter] == "bookmarked" %>
  <% else %>
  <%= render 'search' %>
  <% end %>
  <div id="stories" class="mt-5 min-w-full">
    <%= render @stories %>
  </div>
  <div class="mt-3">
  <%== pagy_nav(@pagy) %>
  </div>
</div>
