<div class="w-full">

  <div class="flex justify-between items-center">
  <% if params[:filter] == "my_stories" %>
    <h1 class="font-bold text-4xl">My Stories</h1>
  <% elsif params[:filter] == "bookmarked"%>
    <h1 class="font-bold text-4xl">Bookmarked Stories</h1>
  <% else %>
    <h1 class="font-bold text-4xl">Stories</h1>
  <% end %>
    <% if user_signed_in? %>
    <%= link_to 'New story', new_story_path, class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-800 text-white block font-medium" %>
    <% end %>
  </div>

  <div id="stories" class="min-w-full">
    <%= render @stories %>
  </div>
</div>
