<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @tag %>

    <% @tag.taggables.each do |taggable| %>
    <% if taggable.story.status == 'published'%>
    <%= render 'stories/story', story: taggable.story %>
    <%= link_to "Read this story", story_path(taggable.story), class: "m-2 p-1 text-amber-900 hover:text-amber-600" %>
    <hr class="mb-3">
    <% end %>
  <% end %>

    <%# link_to 'Edit this tag', edit_tag_path(@tag), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%# button_to 'Destroy this tag', tag_path(@tag), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to tags', tags_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
