<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= @story.title %> - Editing chapter</h1>

  <%= render "form", chapter: @chapter %>

  <%= link_to "Show this chapter", story_chapter_path(@story, @chapter), class: "rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
  <%= link_to "Back to chapters", story_chapters_path(@story), class: "rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
</div>
