<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @chapter %>
    <% if user_signed_in? && @story.user == current_user %>
      <%= link_to 'Edit this chapter', edit_story_chapter_path(@chapter), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= button_to 'Destroy this chapter', story_chapter_path(@chapter), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <% end %>
    <%= link_to 'Back to story', story_path(@story), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
