<div class="container mx-auto text-right py-5">
    <ul class="flex">
        <li class="mr-6">
            <%= link_to "Log In", new_user_session_path, class: "text-yellow-900 hover:text-yellow-600" %>
        </li>
        <li class="mr-6">
            <%= link_to "Sign Up", new_user_registration_path, class: "text-yellow-900 hover:text-yellow-600" %>
        </li>
        </ul>
        
  </div>